Repository handsontable/handsontable, pull requests merged in 2022-10, with the labels that each got.

#9984 New meta tags added for the guides docs
  docs/content/guides/accessories-and-menus/searching-values.md
  docs/content/guides/columns/column-freezing.md
  docs/content/guides/formulas/formula-calculation.md
  docs/content/guides/optimization/batch-operations.md
  docs/content/guides/rows/row-freezing.md
Labels: Docs: Content

#9991 Docs: Add missing ::: marks
  docs/content/guides/cell-functions/cell-editor.md
  docs/content/guides/integrate-with-angular/angular-language-change-example.md
  docs/content/guides/tools-and-building/modules.md
Labels: Docs: Content

#9999 Docs: Move a React example
  docs/content/guides/columns/react-hot-column.md
  docs/content/guides/getting-started/react-redux.md
Labels: Docs: Content, React

#9997 Docs: Fix React examples (so they work locally)
  docs/content/guides/cell-functions/cell-editor.md
  docs/content/guides/cell-functions/cell-renderer.md
  docs/content/guides/cell-types/password-cell-type.md
Labels: Docs: Content

#9996 Docs: Add missing Handsontable imports to React examples
  docs/content/guides/cell-features/conditional-formatting.md
  docs/content/guides/cell-types/cell-type.md
  docs/content/guides/rows/row-prepopulating.md
Labels: Docs: Content, React

#10024 Docs: Add info on registering Hansdontable's modules to the React installation page
  docs/content/guides/getting-started/installation.md
Labels: Docs: Content, React

#10026 Docs: Add info that you can't change class of the column summary destination row
  docs/content/guides/columns/column-summary.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content, Summary calculations

#10003 Bulk improvements to the documentation layout and content
  docs/.vuepress/config.js
  docs/.vuepress/containers/examples/jsfiddle.js
  docs/.vuepress/public/img/pages/introduction/introduction-drawing-dark-min.png
  docs/.vuepress/public/img/pages/introduction/introduction-drawing-light-min.png
  docs/.vuepress/theme/components/DropdownLink.vue
  docs/.vuepress/theme/components/ExternalNavLinks.vue
  docs/.vuepress/theme/components/FrameworksDropdown.vue
  docs/.vuepress/theme/components/Logo.vue
  docs/.vuepress/theme/components/NavLinks.vue
  docs/.vuepress/theme/components/Navbar.vue
  docs/.vuepress/theme/components/Page.vue
  docs/.vuepress/theme/components/PageEdit.vue
  docs/.vuepress/theme/components/SearchBox.vue
  docs/.vuepress/theme/components/Sidebar.vue
  docs/.vuepress/theme/components/SidebarGroup.vue
  docs/.vuepress/theme/components/ThemeSwitcher.vue
  docs/.vuepress/theme/components/VersionsDropdown.vue
  docs/.vuepress/theme/layouts/404.vue
  docs/.vuepress/theme/layouts/Layout.vue
  docs/.vuepress/theme/styles/code.styl
  docs/.vuepress/theme/styles/examples.styl
  docs/.vuepress/theme/styles/form.styl
  docs/.vuepress/theme/styles/handsontable.styl
  docs/.vuepress/theme/styles/index.styl
  docs/.vuepress/theme/styles/jsfiddle.styl
  docs/.vuepress/theme/styles/navbar.styl
  docs/.vuepress/theme/styles/palette.styl
  docs/.vuepress/theme/styles/quirks.styl
  docs/.vuepress/theme/styles/scrollbar.styl
  docs/.vuepress/theme/styles/sidebar.styl
  docs/.vuepress/theme/styles/table-of-contents.styl
  docs/.vuepress/theme/styles/theme-dark-palette.styl
  docs/.vuepress/theme/styles/theme-dark.styl
  docs/.vuepress/theme/styles/vuepress-tabs-custom.styl
  docs/content/guides/cell-features/formatting-cells.md
  docs/content/guides/cell-features/selection.md
  docs/content/guides/cell-functions/cell-renderer.md
  docs/content/guides/columns/column-filter.md
  docs/content/guides/columns/column-freezing.md
  docs/content/guides/columns/column-summary.md
  docs/content/guides/columns/column-virtualization.md
  docs/content/guides/formulas/formula-calculation.md
  docs/content/guides/getting-started/events-and-hooks.md
  docs/content/guides/getting-started/grid-size.md
  docs/content/guides/getting-started/installation.md
  docs/content/guides/getting-started/introduction.md
  docs/content/guides/getting-started/react-redux.md
  docs/content/guides/integrate-with-angular/angular-language-change-example.md
  docs/content/guides/integrate-with-vue/vue-hot-column.md
  docs/content/guides/integrate-with-vue/vue-hot-reference.md
  docs/content/guides/integrate-with-vue/vue-language-change-example.md
  docs/content/guides/integrate-with-vue/vue-vuex-example.md
  docs/content/guides/integrate-with-vue3/vue3-hot-reference.md
  docs/content/guides/integrate-with-vue3/vue3-language-change-example.md
  docs/content/guides/integrate-with-vue3/vue3-vuex-example.md
  docs/content/guides/internationalization/language.md
  docs/content/guides/rows/row-virtualization.md
  docs/content/guides/upgrade-and-migration/release-notes.md
Labels: Docs: Content, Docs: Tools

#10035 Docs: Revert back to gerunds in topic titles and frontmatter
  docs/content/guides/accessories-and-menus/searching-values.md
  docs/content/guides/getting-started/binding-to-data.md
  docs/content/guides/getting-started/saving-data.md
  docs/content/guides/integrate-with-angular/angular-hot-reference.md
  docs/content/guides/integrate-with-angular/angular-setting-up-a-translation.md
  docs/content/guides/integrate-with-vue/vue-hot-column.md
  docs/content/guides/integrate-with-vue/vue-setting-up-a-language.md
  docs/content/guides/integrate-with-vue3/vue3-hot-column.md
  docs/content/guides/integrate-with-vue3/vue3-hot-reference.md
  docs/content/guides/integrate-with-vue3/vue3-setting-up-a-language.md
  docs/content/guides/sidebar.js
Labels: Docs: Content

#10042 Docs: Add info that Filter as you type demo is just a showcase
  docs/content/guides/columns/column-filter.md
Labels: Docs: Content

#10046 Docs: Add 12.2.0 release docs
  CHANGELOG.md
  docs/.vuepress/theme/components/SearchBox.vue
  docs/.vuepress/theme/styles/index.styl
  docs/.vuepress/theme/styles/theme-dark-palette.styl
  docs/.vuepress/theme/styles/theme-dark.styl
  docs/content/guides/accessories-and-menus/searching-values.md
  docs/content/guides/columns/column-summary.md
  docs/content/guides/formulas/formula-calculation.md
  docs/content/guides/getting-started/configuration-options.md
  docs/content/guides/getting-started/demo.md
  docs/content/guides/getting-started/grid-size.md
  docs/content/guides/getting-started/introduction.md
  docs/content/guides/tools-and-building/custom-builds.md
  docs/content/guides/upgrade-and-migration/release-notes.md
  handsontable/src/core.js
  handsontable/src/dataMap/metaManager/metaSchema.js
  handsontable/src/pluginHooks.js
Labels: Docs: Content
