Repository handsontable/handsontable, pull requests merged in 2022-09, with the labels that each got.

#9852 Add missing support for source argument in setSourceDataAtCell
  handsontable/test/types/methods.types.ts
  handsontable/types/core.d.ts
Labels: TypeScript

#9787 Update content for Getting Started pages
  docs/.vuepress/components/HandsontablePreview.vue
  docs/.vuepress/config.js
  docs/.vuepress/tools/example-checker/index.js
  docs/.vuepress/tools/example-checker/testCases.js
  docs/README-EDITING.md
  docs/content/guides/getting-started/binding-to-data.md
  docs/content/guides/getting-started/configuration-options.md
  docs/content/guides/getting-started/events-and-hooks.md
  docs/content/guides/getting-started/grid-size.md
  docs/content/guides/getting-started/installation.md
  docs/content/guides/getting-started/introduction.md
  docs/content/guides/getting-started/license-key.md
  docs/content/guides/getting-started/react-methods.md
  docs/content/guides/getting-started/react-redux.md
  docs/content/guides/getting-started/saving-data.md
  docs/content/guides/sidebar.js
Labels: Docs: Content

#9862 Docs: Rewrite the introduction page
  docs/content/guides/getting-started/installation.md
  docs/content/guides/getting-started/introduction.md
Labels: Docs: Content

#9875 Docs: Update `Formulas` plugin's dependencies
  docs/content/guides/technical-specification/third-party-licenses.md
Labels: Docs: Content, Formulas, hyperformula

#9828 React docs: code style and small text changes
  docs/content/guides/accessories-and-menus/context-menu.md
  docs/content/guides/cell-functions/cell-renderer.md
  docs/content/guides/cell-types/dropdown-cell-type.md
  docs/content/guides/columns/column-hiding.md
  docs/content/guides/columns/react-hot-column.md
  docs/content/guides/optimization/bundle-size.md
  docs/content/guides/rows/row-prepopulating.md
  docs/content/guides/rows/row-sorting.md
  docs/content/guides/tools-and-building/custom-builds.md
Labels: Docs: Content

#9970 Docs: Fix typo
  docs/content/guides/getting-started/demo.md
Labels: Docs: Content

#9944 translateRowsToColumns method definition removed
  .changelogs/9919.json
  handsontable/types/helpers/data.d.ts
Labels: TypeScript
