Repository handsontable/handsontable, pull requests merged in 2022-04, with the labels that each got.

#9379 Change behavior of the Home/End + variants keyboard shortcuts
  .changelogs/9364.json
  handsontable/src/3rdparty/walkontable/src/table.js
  handsontable/src/3rdparty/walkontable/test/spec/settings/columnHeaders.spec.js
  handsontable/src/core.js
  handsontable/src/plugins/hiddenColumns/__tests__/navigation.spec.js
  handsontable/src/plugins/hiddenColumns/__tests__/rtl/navigation.spec.js
  handsontable/src/plugins/hiddenRows/__tests__/navigation.spec.js
  handsontable/src/plugins/hiddenRows/__tests__/rtl/navigation.spec.js
  handsontable/src/tableView.js
  handsontable/test/e2e/Core_navigation.spec.js
  handsontable/test/e2e/Core_selection.spec.js
  handsontable/test/e2e/keyboardShortcuts/navigation.spec.js
  handsontable/test/e2e/keyboardShortcuts/rtl/navigation.spec.js
  handsontable/test/e2e/rtl/Core_selection.spec.js
  handsontable/test/e2e/settings/fixedRowsBottom.spec.js
  handsontable/test/helpers/asciiTable.js
  handsontable/test/types/shortcutManager.types.ts
  handsontable/types/shortcuts/context.d.ts
Labels: Breaking change

#9388 Add a new behavior for Cmd/Ctrl + Shift + Arrow keys keyboard shortcuts
  .changelogs/9365.json
  handsontable/src/core.js
  handsontable/src/plugins/contextMenu/__tests__/predefinedItems/rtl/insertColumnLeft.spec.js
  handsontable/src/plugins/contextMenu/__tests__/predefinedItems/rtl/insertColumnRight.spec.js
  handsontable/src/plugins/hiddenColumns/__tests__/rtl/navigation.spec.js
  handsontable/src/plugins/hiddenRows/__tests__/rtl/navigation.spec.js
  handsontable/src/tableView.js
  handsontable/test/e2e/Core_selection.spec.js
  handsontable/test/e2e/keyboardShortcuts/navigation.spec.js
  handsontable/test/e2e/keyboardShortcuts/rtl/navigation.spec.js
  handsontable/test/e2e/keyboardShortcuts/rtl/selection.spec.js
  handsontable/test/e2e/keyboardShortcuts/selection.spec.js
  handsontable/test/helpers/asciiTable.js
Labels: Breaking change

#9402 Remove Shift+PageUp/PageDown keyboard shortcuts for editors
  .changelogs/9401.json
  handsontable/src/editors/textEditor/__tests__/keyboardShortcuts.spec.js
  handsontable/src/editors/textEditor/textEditor.js
Labels: Breaking change

#9385 Improve compatibility of some keyboard shortcuts
  .changelogs/9364.json
  .changelogs/9365.json
  .changelogs/9366.json
  .changelogs/9367.json
  .changelogs/9368.json
  .changelogs/9394.json
  .changelogs/9401.json
  handsontable/src/3rdparty/walkontable/src/cell/range.js
  handsontable/src/3rdparty/walkontable/src/table.js
  handsontable/src/3rdparty/walkontable/test/spec/settings/columnHeaders.spec.js
  handsontable/src/3rdparty/walkontable/test/unit/cell/range.unit.js
  handsontable/src/core.js
  handsontable/src/editors/textEditor/__tests__/caretPositioner.unit.js
  handsontable/src/editors/textEditor/__tests__/keyboardShortcuts.spec.js
  handsontable/src/editors/textEditor/__tests__/textEditor.spec.js
  handsontable/src/editors/textEditor/caretPositioner.js
  handsontable/src/editors/textEditor/textEditor.js
  handsontable/src/plugins/contextMenu/__tests__/contextMenu.spec.js
  handsontable/src/plugins/contextMenu/__tests__/keyboardShortcuts.spec.js
  handsontable/src/plugins/contextMenu/__tests__/predefinedItems/rtl/insertColumnLeft.spec.js
  handsontable/src/plugins/contextMenu/__tests__/predefinedItems/rtl/insertColumnRight.spec.js
  handsontable/src/plugins/contextMenu/menu.js
  handsontable/src/plugins/hiddenColumns/__tests__/navigation.spec.js
  handsontable/src/plugins/hiddenColumns/__tests__/rtl/navigation.spec.js
  handsontable/src/plugins/hiddenRows/__tests__/navigation.spec.js
  handsontable/src/plugins/hiddenRows/__tests__/rtl/navigation.spec.js
  handsontable/src/plugins/mergeCells/__tests__/keyboardShortcuts.spec.js
  handsontable/src/plugins/mergeCells/mergeCells.js
  handsontable/src/tableView.js
  handsontable/test/e2e/Core_navigation.spec.js
  handsontable/test/e2e/Core_selection.spec.js
  handsontable/test/e2e/keyboardShortcuts/navigation.spec.js
  handsontable/test/e2e/keyboardShortcuts/rtl/navigation.spec.js
  handsontable/test/e2e/keyboardShortcuts/rtl/selection.spec.js
  handsontable/test/e2e/keyboardShortcuts/selection.spec.js
  handsontable/test/e2e/rtl/Core_selection.spec.js
  handsontable/test/e2e/settings/fixedRowsBottom.spec.js
  handsontable/test/helpers/asciiTable.js
  handsontable/test/types/shortcutManager.types.ts
  handsontable/types/shortcuts/context.d.ts
Labels: Breaking change, Epic

#9409 Docs: Adding docs changes related to the Moment.js dependency update
  .changelogs/9381.json
  docs/next/guides/building-and-testing/packages.md
  docs/next/guides/cell-types/date-cell-type.md
Labels: Docs
