Repository handsontable/handsontable, pull requests merged in 2022-01, with the labels that each got.

#9081 Docs: Adding information about license key required when HF used within HoT
  docs/10.0/api/formulas.md
  docs/10.0/api/options.md
  docs/10.0/guides/formulas/formula-calculation.md
  docs/11.0/api/formulas.md
  docs/11.0/api/options.md
  docs/11.0/guides/formulas/formula-calculation.md
  docs/9.0/api/formulas.md
  docs/9.0/api/metaSchema.md
  docs/9.0/guides/formulas/formula-calculation.md
  docs/next/guides/formulas/formula-calculation.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: documentation, Formulas, hyperformula

#9084 Docs: Expanding the descriptions of updateData(), loadData() and their hooks
  docs/11.1/api/core.md
  docs/11.1/api/hooks.md
  docs/11.1/guides/cell-features/autofill-values.md
  docs/11.1/guides/getting-started/saving-data.md
  docs/11.1/guides/rows/row-prepopulating.md
  docs/next/guides/cell-features/autofill-values.md
  docs/next/guides/getting-started/saving-data.md
  docs/next/guides/rows/row-prepopulating.md
  handsontable/src/core.js
  handsontable/src/pluginHooks.js
Labels: documentation, Core: update settings

#9108 Docs: Adding information on Vue 3 version support
  docs/11.1/guides/formulas/formula-calculation.md
  docs/11.1/guides/integrate-with-vue3/vue3-custom-context-menu-example.md
  docs/11.1/guides/integrate-with-vue3/vue3-custom-editor-example.md
  docs/11.1/guides/integrate-with-vue3/vue3-custom-id-class-style.md
  docs/11.1/guides/integrate-with-vue3/vue3-custom-renderer-example.md
  docs/11.1/guides/integrate-with-vue3/vue3-hot-column.md
  docs/11.1/guides/integrate-with-vue3/vue3-hot-reference.md
  docs/11.1/guides/integrate-with-vue3/vue3-installation.md
  docs/11.1/guides/integrate-with-vue3/vue3-language-change-example.md
  docs/11.1/guides/integrate-with-vue3/vue3-modules.md
  docs/11.1/guides/integrate-with-vue3/vue3-setting-up-a-language.md
  docs/11.1/guides/integrate-with-vue3/vue3-simple-example.md
  docs/11.1/guides/integrate-with-vue3/vue3-vuex-example.md
  docs/next/guides/formulas/formula-calculation.md
  docs/next/guides/integrate-with-vue3/vue3-custom-context-menu-example.md
  docs/next/guides/integrate-with-vue3/vue3-custom-editor-example.md
  docs/next/guides/integrate-with-vue3/vue3-custom-id-class-style.md
  docs/next/guides/integrate-with-vue3/vue3-custom-renderer-example.md
  docs/next/guides/integrate-with-vue3/vue3-hot-column.md
  docs/next/guides/integrate-with-vue3/vue3-hot-reference.md
  docs/next/guides/integrate-with-vue3/vue3-installation.md
  docs/next/guides/integrate-with-vue3/vue3-language-change-example.md
  docs/next/guides/integrate-with-vue3/vue3-modules.md
  docs/next/guides/integrate-with-vue3/vue3-setting-up-a-language.md
  docs/next/guides/integrate-with-vue3/vue3-simple-example.md
  docs/next/guides/integrate-with-vue3/vue3-vuex-example.md
Labels: documentation, vue 3

#9089 Docs: Wrapping up HoT 11.1.0 docs
  CHANGELOG.md
  docs/11.1/guides/upgrade-and-migration/release-notes.md
  docs/next/guides/upgrade-and-migration/release-notes.md
Labels: documentation

#9116 Docs: Hiding the "Hello, World!" page from the menu
  docs/11.1/guides/sidebar.js
  docs/next/guides/sidebar.js
Labels: docs

#9133 Docs: Removing a sentence about Vue 3
  docs/11.1/guides/integrate-with-vue3/vue3-hot-column.md
  docs/next/guides/integrate-with-vue3/vue3-hot-column.md
Labels: docs, vue 3

#9121 Make `updateSettings` utilize `updateData`.
  .changelogs/7263.json
  handsontable/src/core.js
  handsontable/src/dataMap/replaceData.js
  handsontable/test/e2e/core/toPhysicalColumn.spec.js
  handsontable/test/e2e/core/toVisualColumn.spec.js
Labels: Breaking change

#9127 Docs: Updating the docs' README-DEPLOYMENT file
  docs/README-DEPLOYMENT.md
Labels: docs

#9025 Make the plugins' `updatePlugin` method get called only when the updated settings contain the plugin config keys.
  .changelogs/9021.json
  handsontable/src/plugins/__tests__/plugins.spec.js
  handsontable/src/plugins/autoColumnSize/autoColumnSize.js
  handsontable/src/plugins/autoRowSize/autoRowSize.js
  handsontable/src/plugins/autofill/autofill.js
  handsontable/src/plugins/base/__tests__/base.types.ts
  handsontable/src/plugins/base/base.js
  handsontable/src/plugins/collapsibleColumns/collapsibleColumns.js
  handsontable/src/plugins/copyPaste/copyPaste.js
  handsontable/src/plugins/touchScroll/touchScroll.js
  handsontable/src/plugins/undoRedo/undoRedo.js
  handsontable/types/plugins/base/base.d.ts
Labels: Breaking change

#9134 [RTL] Fixed nested rows in the RTL mode
  handsontable/src/plugins/nestedRows/__tests__/nestedRows.spec.js
  handsontable/src/plugins/nestedRows/__tests__/rtl/nestedRows.spec.js
  handsontable/src/plugins/nestedRows/nestedRows.js
  handsontable/src/plugins/nestedRows/nestedRows.scss
Labels: Nested rows, RTL

#9146 Docs: Changing a Hello World link
  docs/11.0/guides/getting-started/introduction.md
  docs/11.1/guides/getting-started/introduction.md
  docs/next/guides/getting-started/introduction.md
Labels: docs

#9119 Docs: Adding the Vue 3 Snyk badge
  wrappers/vue3/README.md
Labels: docs, vue 3

#9158 Docs: Expanding the docs' README file
  docs/README-DEPLOYMENT.md
  docs/README-EDITING.md
Labels: docs, Tools
