Repository handsontable/handsontable, pull requests merged in 2022-02, with the labels that each got.

#9181 Docs: Clearing up the `npm run docs:review` info
  docs/README-EDITING.md
  docs/README.md
Labels: docs

#9188 Missing basePlugin types (#9175)
  .changelogs/9175.json
  handsontable/src/plugins/base/__tests__/base.types.ts
  handsontable/types/plugins/base/base.d.ts
Labels: Type: Bug, TypeScript

#8982 Docs: Renaming the "Hello world" page to "Docs" and updating it
  docs/.vuepress/theme/styles/big-example.styl
  docs/10.0/guides/getting-started/hello-world.md
  docs/11.0/guides/getting-started/hello-world.md
  docs/11.1/api/introduction.md
  docs/11.1/examples/introduction.md
  docs/11.1/guides/getting-started/demo.md
  docs/11.1/guides/getting-started/hello-world.md
  docs/11.1/guides/getting-started/introduction.md
  docs/11.1/guides/sidebar.js
  docs/9.0/guides/getting-started/hello-world.md
  docs/docker/redirects.conf
  docs/next/api/introduction.md
  docs/next/examples/introduction.md
  docs/next/guides/getting-started/demo.md
  docs/next/guides/getting-started/hello-world.md
  docs/next/guides/getting-started/introduction.md
  docs/next/guides/sidebar.js
Labels: docs

#9120 [RTL] Fixes for the ManualColumnResize plugin
  handsontable/src/3rdparty/walkontable/src/overlay/_base.js
  handsontable/src/3rdparty/walkontable/src/overlay/inlineStart.js
  handsontable/src/css/handsontable.scss
  handsontable/src/plugins/manualColumnResize/__tests__/rtl/manualColumnResize.spec.js
  handsontable/src/plugins/manualColumnResize/manualColumnResize.js
  handsontable/src/plugins/manualRowResize/__tests__/manualRowResize.spec.js
  handsontable/src/plugins/manualRowResize/__tests__/rtl/manualRowResize.spec.js
  handsontable/src/plugins/manualRowResize/manualRowResize.js
  handsontable/src/plugins/nestedRows/__tests__/nestedRows.spec.js
  handsontable/src/plugins/nestedRows/__tests__/rtl/nestedRows.spec.js
  handsontable/src/plugins/nestedRows/nestedRows.js
  handsontable/src/plugins/nestedRows/nestedRows.scss
Labels: Freeze / Resize / Move, Resizing, RTL

#9208 Add Arabic language file
  .changelogs/9208.json
  handsontable/src/i18n/languages/ar-AR.js
  handsontable/src/i18n/languages/index.js
Labels: Status: Developed (ready for review), CLA signed

#9213 Document Arabic language added in #9208
  docs/next/guides/internationalization/language.md
Labels: Status: Developed (ready for review), CLA signed
