Repository handsontable/handsontable, pull requests merged in 2022-08, with the labels that each got.

#9709 Docs: Add info on hooks
  handsontable/src/pluginHooks.js
Labels: Docs: Content

#9716 Docs: Fix a comment
  docs/content/guides/cell-features/conditional-formatting.md
Labels: Docs: Content

#9717 Docs: Add `autofill`/`auto-fill`/`auto fill` search tag
  docs/content/guides/cell-features/autofill-values.md
Labels: Docs: Content

#9697 Docs: Add a note about setting the type option
  docs/content/guides/cell-functions/cell-editor.md
  docs/content/guides/cell-functions/cell-function.md
  docs/content/guides/cell-functions/cell-renderer.md
  docs/content/guides/cell-functions/cell-validator.md
  docs/content/guides/cell-types/cell-type.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9700 Docs: Add info that `dataSchema` can be a function
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9702 Docs: Minor changes to the API ref of `cells` and `columns`
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9705 Docs: Add info that `correctFormat` applies to times as well
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9718 Docs: Add index information
  docs/content/guides/rows/row-trimming.md
  handsontable/src/dataMap/metaManager/metaSchema.js
  handsontable/src/pluginHooks.js
  handsontable/src/plugins/trimRows/trimRows.js
Labels: Docs: Content

#9698 Docs: Hide the `executeCommand()` method from the docs
  handsontable/src/plugins/contextMenu/contextMenu.js
  handsontable/src/plugins/contextMenu/menu.js
  handsontable/src/plugins/dropdownMenu/dropdownMenu.js
Labels: Docs: Content

#9690 Docs: Minor React docs improvements
  docs/content/guides/columns/react-hot-column.md
  docs/content/guides/getting-started/introduction.md
  docs/content/guides/getting-started/react-methods.md
Labels: Docs: Content

#9741 rowOffset and colOffset removed from definition file
  handsontable/test/types/methods.types.ts
  handsontable/types/core.d.ts
Labels: TypeScript

#9724 Docs: Various edits
  docs/content/guides/cell-features/clipboard.md
  docs/content/guides/cell-features/disabled-cells.md
  docs/content/guides/getting-started/binding-to-data.md
  docs/content/guides/integrate-with-react/react-simple-example.md
  docs/content/guides/optimization/batch-operations.md
  handsontable/src/core.js
  handsontable/src/dataMap/metaManager/metaSchema.js
  handsontable/src/pluginHooks.js
  handsontable/src/plugins/copyPaste/copyPaste.js
  handsontable/src/translations/indexMapper.js
Labels: Docs: Content

#9699 Docs: Add info that `allowempty` needs a validator to work
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9770 Docs: Add React style guide
  docs/README-EDITING.md
Labels: Docs: Content, react

#9743 Docs: Update the Security section
  docs/content/guides/security/security.md
Labels: Docs: Content

#9742 Docs: Edit the Technical specification section
  docs/content/guides/technical-specification/software-license.md
Labels: Docs: Content

#9745 Docs: Edit the Upgrade and migration section
  docs/content/guides/cell-functions/cell-renderer.md
  docs/content/guides/upgrade-and-migration/migrating-from-10.0-to-11.0.md
  docs/content/guides/upgrade-and-migration/migrating-from-11.1-to-12.0.md
  docs/content/guides/upgrade-and-migration/migrating-from-7.4-to-8.0.md
  docs/content/guides/upgrade-and-migration/migrating-from-8.4-to-9.0.md
  docs/content/guides/upgrade-and-migration/migrating-from-9.0-to-10.0.md
  docs/content/guides/upgrade-and-migration/versioning-policy.md
Labels: Docs: Content

#9790 Added `nestedRows` tag to the page
  docs/content/guides/rows/row-parent-child.md
Labels: Docs: Content

#9786 Docs: Edit the Tools and building section
  docs/content/guides/tools-and-building/custom-builds.md
  docs/content/guides/tools-and-building/custom-plugins.md
  docs/content/guides/tools-and-building/modules.md
Labels: Docs: Content

#9810 Docs: Feature/react docs nestedheaders
  docs/content/guides/columns/column-groups.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9805 Docs: Remove the Examples section
  docs/.vuepress/theme/components/NavLinks.vue
  docs/README.md
  docs/content/examples/introduction.md
  docs/content/examples/sidebar.js
  docs/content/sidebars.js
  docs/docker/redirects.conf
Labels: Docs: Content

#9806 Docs: Remove the Packages page for React
  docs/content/guides/sidebar.js
  docs/content/guides/tools-and-building/custom-builds.md
  docs/content/guides/tools-and-building/modules.md
  docs/content/guides/tools-and-building/testing.md
Labels: Docs: Content

#6635 Remove mergeSort and use buildin Array.sort
  .changelogs/6091.json
  handsontable/src/plugins/columnSorting/sortService/engine.js
  handsontable/src/utils/sortingAlgorithms/mergeSort.js
  handsontable/test/unit/utils/sortingAlgorithms/mergeSort.unit.js
Labels: Status: On hold

#9851 modifyRowSourceData type definition removed
  handsontable/test/types/settings.types.ts
  handsontable/types/pluginHooks.d.ts
Labels: TypeScript
