Repository handsontable/handsontable, pull requests merged in 2022-05, with the labels that each got.

#9446 Docs: Czech language fix
  docs/12.0/guides/internationalization/language.md
  docs/next/guides/internationalization/language.md
Labels: Docs

#9448 Docs: Adding and updating miscellaneous keyboard shortcuts
  docs/12.0/api/copyPaste.md
  docs/12.0/api/options.md
  docs/12.0/guides/accessories-and-menus/context-menu.md
  docs/12.0/guides/accessories-and-menus/keyboard-shortcuts.md
  docs/12.0/guides/accessories-and-menus/undo-redo.md
  docs/12.0/guides/cell-features/clipboard.md
  docs/12.0/guides/cell-features/disabled-cells.md
  docs/12.0/guides/cell-features/merge-cells.md
  docs/12.0/guides/cell-features/selection.md
  docs/12.0/guides/cell-functions/cell-editor.md
  docs/12.0/guides/cell-types/autocomplete-cell-type.md
  docs/12.0/guides/cell-types/checkbox-cell-type.md
  docs/12.0/guides/cell-types/handsontable-cell-type.md
  docs/12.0/guides/getting-started/events-and-hooks.md
  docs/12.0/guides/internationalization/layout-direction.md
  docs/12.0/guides/upgrade-and-migration/migrating-from-11.1-to-12.0.md
  docs/12.0/guides/upgrade-and-migration/release-notes.md
  docs/next/guides/accessories-and-menus/context-menu.md
  docs/next/guides/accessories-and-menus/keyboard-shortcuts.md
  docs/next/guides/accessories-and-menus/undo-redo.md
  docs/next/guides/cell-features/clipboard.md
  docs/next/guides/cell-features/disabled-cells.md
  docs/next/guides/cell-features/merge-cells.md
  docs/next/guides/cell-features/selection.md
  docs/next/guides/cell-functions/cell-editor.md
  docs/next/guides/cell-types/autocomplete-cell-type.md
  docs/next/guides/cell-types/checkbox-cell-type.md
  docs/next/guides/cell-types/handsontable-cell-type.md
  docs/next/guides/getting-started/events-and-hooks.md
  docs/next/guides/internationalization/layout-direction.md
  docs/next/guides/upgrade-and-migration/migrating-from-11.1-to-12.0.md
  docs/next/guides/upgrade-and-migration/release-notes.md
  handsontable/src/dataMap/metaManager/metaSchema.js
  handsontable/src/plugins/copyPaste/copyPaste.js
Labels: Docs

#9453 Docs: Fixing redirects
  docs/docker/redirects.conf
Labels: Docs

#9469 Add serbian language
  .changelogs/9469.json
  handsontable/src/i18n/languages/index.js
  handsontable/src/i18n/languages/sr-SP.js
Labels: Status: Developed (ready for review), CLA signed

#9481 Docs: Fix typo
  docs/10.0/guides/accessories-and-menus/undo-redo.md
  docs/11.0/guides/accessories-and-menus/undo-redo.md
  docs/11.1/guides/accessories-and-menus/undo-redo.md
  docs/12.0/guides/accessories-and-menus/undo-redo.md
  docs/9.0/guides/accessories-and-menus/undo-redo.md
  docs/next/guides/accessories-and-menus/undo-redo.md
Labels: Docs

#9465 Docs: Adding a date format section
  docs/next/guides/cell-types/date-cell-type.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs, Cell type: date

#9485 Docs: Adding 12.0.1 docs
  CHANGELOG.md
  docs/12.0/guides/upgrade-and-migration/release-notes.md
  docs/next/guides/upgrade-and-migration/release-notes.md
  handsontable/src/plugins/formulas/formulas.js
Labels: Docs

#9483 Docs: Changing `lazy` to `flexible`
  docs/next/guides/cell-types/autocomplete-cell-type.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs, Cell type: autocomplete / dropdown / handsontable

#9493 Docs: Adding the `dateFormat` description to the 12.0 docs version
  docs/12.0/api/options.md
  docs/12.0/guides/cell-types/date-cell-type.md
Labels: Docs

#9501 Docs: Update the documentation issue template to match the label change
  .github/ISSUE_TEMPLATE/02-documentation.md
Labels: Docs: Content

#9500 Docs: Applying lazy->flexible changes to the 12.0 docs version
  docs/12.0/api/options.md
  docs/12.0/guides/cell-types/autocomplete-cell-type.md
Labels: Docs: Content

#9512 Docs: Fixing PDF links
  docs/12.0/guides/security/security.md
  docs/next/guides/security/security.md
Labels: Docs: Content

#9526 Docs: Fix links
  docs/12.0/guides/upgrade-and-migration/migrating-from-7.4-to-8.0.md
Labels: Docs: Content

#9527 Docs: Change `meta` to `control/meta`.
  docs/12.0/guides/accessories-and-menus/keyboard-shortcuts.md
  docs/next/guides/accessories-and-menus/keyboard-shortcuts.md
Labels: Docs: Content

#9544 Docs: Adding Serbian langauge to the docs
  docs/next/guides/internationalization/language.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content
