Repository handsontable/handsontable, pull requests merged in 2022-07, with the labels that each got.

#9612 Typo in password cell type documentation fixed
  docs/10.0/guides/cell-types/password-cell-type.md
  docs/11.0/guides/cell-types/password-cell-type.md
  docs/11.1/guides/cell-types/password-cell-type.md
  docs/12.0/guides/cell-types/password-cell-type.md
  docs/12.1/guides/cell-types/password-cell-type.md
  docs/9.0/guides/cell-types/password-cell-type.md
Labels: Docs: Content

#9606 Typo fix in mergeCells documentation
  docs/10.0/api/mergeCells.md
  docs/11.0/api/mergeCells.md
  docs/11.1/api/mergeCells.md
  docs/12.0/api/mergeCells.md
  docs/9.0/api/mergeCells.md
Labels: Docs: Content

#9639 maxlength parameter added in vue hot column example
  docs/10.0/guides/integrate-with-vue/vue-hot-column.md
  docs/11.0/guides/integrate-with-vue/vue-hot-column.md
  docs/11.1/guides/integrate-with-vue/vue-hot-column.md
  docs/12.0/guides/integrate-with-vue/vue-hot-column.md
  docs/12.1/guides/integrate-with-vue/vue-hot-column.md
  docs/9.0/guides/integrate-with-vue/vue-hot-column.md
  docs/next/guides/integrate-with-vue/vue-hot-column.md
Labels: Docs: Content, vue

#9635 API reference links added to source argument list
  docs/10.0/guides/getting-started/events-and-hooks.md
  docs/11.0/guides/getting-started/events-and-hooks.md
  docs/12.0/guides/getting-started/events-and-hooks.md
  docs/12.1/guides/getting-started/events-and-hooks.md
  docs/9.0/guides/getting-started/events-and-hooks.md
  docs/next/guides/getting-started/events-and-hooks.md
Labels: Docs: Content

#9676 Improve Docs building time by ~200%!!!
  docs/.vuepress/helpers.js
Labels: Docs: Tools

#9576 Docs: Clean up the React content
  docs/next/guides/accessories-and-menus/context-menu.md
  docs/next/guides/building-and-testing/building.md
  docs/next/guides/building-and-testing/modules.md
  docs/next/guides/cell-functions/cell-editor.md
  docs/next/guides/cell-functions/cell-renderer.md
  docs/next/guides/cell-functions/cell-validator.md
  docs/next/guides/cell-types/numeric-cell-type.md
  docs/next/guides/columns/react-hot-column.md
  docs/next/guides/getting-started/binding-to-data.md
  docs/next/guides/getting-started/events-and-hooks.md
  docs/next/guides/getting-started/installation.md
  docs/next/guides/getting-started/introduction.md
  docs/next/guides/getting-started/methods.md
  docs/next/guides/getting-started/react-redux.md
  docs/next/guides/integrate-with-react/react-custom-context-menu-example.md
  docs/next/guides/integrate-with-react/react-custom-editor-example.md
  docs/next/guides/integrate-with-react/react-custom-renderer-example.md
  docs/next/guides/integrate-with-react/react-installation.md
  docs/next/guides/integrate-with-react/react-language-change-example.md
  docs/next/guides/integrate-with-react/react-modules.md
  docs/next/guides/integrate-with-react/react-setting-up-a-language.md
  docs/next/guides/integrate-with-react/react-simple-example.md
  docs/next/guides/internationalization/language.md
  docs/next/guides/sidebar.js
  docs/next/guides/upgrade-and-migration/migrating-from-10.0-to-11.0.md
  docs/next/guides/upgrade-and-migration/migrating-from-11.1-to-12.0.md
Labels: Docs: Content, react

#9701 Docs: Add info that at initialization you can't use the comma as a decimal separator
  docs/content/guides/cell-types/numeric-cell-type.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9703 Docs: Add info on what happens when there's no data set
  docs/content/guides/getting-started/binding-to-data.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#9706 Docs: Fixing a note
  docs/content/guides/optimization/batch-operations.md
Labels: Docs: Content
