Repository handsontable/handsontable, pull requests merged in 2022-03, with the labels that each got.

#9261 Docs: Fixing a docs regression
  docs/11.1/guides/cell-features/autofill-values.md
  docs/11.1/guides/rows/row-prepopulating.md
  docs/next/guides/cell-features/autofill-values.md
  docs/next/guides/rows/row-prepopulating.md
Labels: Type: Bug, docs, Regression

#9141 Docs: Adding layout direction docs
  docs/docker/redirects.conf
  docs/next/guides/accessories-and-menus/keyboard-navigation.md
  docs/next/guides/building-and-testing/building.md
  docs/next/guides/building-and-testing/packages.md
  docs/next/guides/cell-features/formatting-cells.md
  docs/next/guides/columns/column-freezing.md
  docs/next/guides/columns/column-hiding.md
  docs/next/guides/columns/column-summary.md
  docs/next/guides/getting-started/setting-options.md
  docs/next/guides/integrate-with-react/react-simple-example.md
  docs/next/guides/internationalization/language.md
  docs/next/guides/internationalization/layout-direction.md
  docs/next/guides/internationalization/locale.md
  docs/next/guides/rows/row-hiding.md
  docs/next/guides/sidebar.js
  handsontable/src/dataMap/metaManager/metaSchema.js
  handsontable/src/plugins/customBorders/customBorders.js
Labels: docs, RTL

#9154 Docs: Adding shortcut manager docs
  docs/docker/redirects.conf
  docs/next/guides/accessories-and-menus/keyboard-navigation.md
  docs/next/guides/accessories-and-menus/keyboard-shortcuts.md
  docs/next/guides/sidebar.js
  handsontable/src/shortcuts/context.js
  handsontable/src/shortcuts/keyObserver.js
  handsontable/src/shortcuts/manager.js
  handsontable/src/shortcuts/recorder.js
  handsontable/src/shortcuts/utils.js
Labels: docs, Accessibility

#9277 Remove URL path from docs version dropdown list
  docs/.vuepress/theme/components/Versions.vue
Labels: docs

#9343 Add Czech language
  .changelogs/9343.json
  handsontable/src/i18n/languages/cs-CZ.js
  handsontable/src/i18n/languages/index.js
Labels: Status: Developed (ready for review), CLA signed
