Repository handsontable/handsontable, pull requests merged in 2023-05, with the labels that each got.

#10347 Docs: Various improvements
  docs/content/guides/cell-types/date-cell-type.md
  docs/content/guides/columns/column-summary.md
  docs/content/guides/getting-started/configuration-options.md
  handsontable/src/core.js
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content, Cell type: Date

#10353 Docs: Add info on incompatibility between formulas and `getSourceData()`
  docs/content/guides/formulas/formula-calculation.md
  handsontable/src/core.js
Labels: Docs: Content, Formulas

#10356 Docs: Improve the `colwidths` API ref
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content

#10373 Docs: Add the 2023 security certificate
  docs/.vuepress/public/testarmy-certificate.pdf
  docs/content/guides/security/security.md
  docs/docker/redirects.conf
Labels: Docs: Content

#10374 Docs: Edit 12.4.0 docs
  CHANGELOG.md
  docs/content/guides/formulas/formula-calculation.md
  docs/content/guides/getting-started/demo.md
  docs/content/guides/getting-started/introduction.md
  docs/content/guides/tools-and-building/packages.md
  docs/content/guides/upgrade-and-migration/release-notes.md
  handsontable/src/pluginHooks.js
Labels: Docs: Content

#10378 Implement new GitHub issue templates
  .github/ISSUE_TEMPLATE/01-handsontable.md
  .github/ISSUE_TEMPLATE/02-documentation.md
  .github/ISSUE_TEMPLATE/03-handsontable-angular.md
  .github/ISSUE_TEMPLATE/04-handsontable-react.md
  .github/ISSUE_TEMPLATE/05-handsontable-vue.md
  .github/ISSUE_TEMPLATE/06-handsontable-vue3.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/improve_docs.yaml
Labels: Tools
