Repository handsontable/handsontable, pull requests merged in 2023-06, with the labels that each got.

#10392 Remove screenshots/video field validator
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: Docs: Tools

#10231 Swapping `beforeChange` and `afterSetDataAtCell/afterSetDataAtRowProp` hooks order
  .changelogs/677.json
  handsontable/src/core.js
  handsontable/src/plugins/autofill/__tests__/autofill.spec.js
  handsontable/src/plugins/formulas/__tests__/formulas.spec.js
  handsontable/test/e2e/Core_populateFromArray.spec.js
  handsontable/test/e2e/Core_setDataAtCell.spec.js
  handsontable/test/e2e/core/emptySelectedCells.spec.js
Labels: Breaking change

#10407 Remove the deprecated hooks, methods and options for `13.0.0`.
  .changelogs/10407.json
  docs/content/guides/cell-features/autofill-values.md
  docs/content/guides/getting-started/binding-to-data.md
  handsontable/src/core.js
  handsontable/src/pluginHooks.js
  handsontable/src/plugins/autofill/autofill.js
  handsontable/src/plugins/autofill/utils.js
  handsontable/src/translations/__tests__/indexMapper.types.ts
  handsontable/src/translations/__tests__/indexMapper.unit.js
  handsontable/src/translations/indexMapper.js
  handsontable/test/e2e/Core_populateFromArray.spec.js
  handsontable/test/e2e/core/alter/insertCol.spec.js
  handsontable/test/e2e/core/alter/insertRow.spec.js
  handsontable/test/types/methods.types.ts
  handsontable/test/types/settings.types.ts
  handsontable/types/core.d.ts
  handsontable/types/pluginHooks.d.ts
  wrappers/angular/projects/hot-table/src/lib/hot-table.component.ts
  wrappers/vue/test/hotTable.spec.ts
  wrappers/vue3/test/hotTable.spec.ts
Labels: Breaking change

#10409 fix: fix ChangeSource Type Error with ContextMenu
  .changelogs/9566.json
  handsontable/types/common.d.ts
Labels: Status: Developed (ready for review), CLA signed

#10416 Fixed an issue with not removing the resize handler when user clicks RMB
  .changelogs/10416.json
  handsontable/src/plugins/manualColumnResize/__tests__/manualColumnResize.spec.js
  handsontable/src/plugins/manualColumnResize/manualColumnResize.js
  handsontable/src/plugins/manualRowResize/__tests__/manualRowResize.spec.js
  handsontable/src/plugins/manualRowResize/manualRowResize.js
Labels: Blocked

#10418 Docs: Edit 13.0.0 docs
  CHANGELOG.md
  docs/content/guides/formulas/formula-calculation.md
  docs/content/guides/getting-started/demo.md
  docs/content/guides/getting-started/introduction.md
  docs/content/guides/sidebar.js
  docs/content/guides/upgrade-and-migration/migrating-from-12.4-to-13.0.md
  docs/content/guides/upgrade-and-migration/release-notes.md
Labels: Docs: Content
