Repository handsontable/handsontable, pull requests merged in 2024-01, with the labels that each got.

#10681 Docs: Add info that `autoWrapRow` impacts Tab/Shift+Tab
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content, Accessibility

#10658 Docs: A11y page changes
  docs/content/guides/accessibility/accessibility.md
Labels: Docs: Content, Accessibility

#10708 Docs: Remove notes about modules
  docs/content/guides/getting-started/configuration-options.md
Labels: Docs: Content

#10707 Docs: Update the "Cell functions getters" section
  docs/content/guides/cell-functions/cell-function.md
Labels: Docs: Content

#10706 Docs: Expand the `readOnly` docs
  docs/content/guides/cell-features/comments.md
  docs/content/guides/cell-features/disabled-cells.md
  docs/content/guides/getting-started/configuration-options.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content, Read-only

#10712 chore: update peerDependencies of vue3 wrapper
  .changelogs/10571.json
  package-lock.json
  wrappers/vue3/package.json
Labels: CLA signed

#10700 Docs: Update column virtualization docs
  docs/content/guides/accessibility/accessibility.md
  docs/content/guides/columns/column-virtualization.md
  docs/content/guides/optimization/batch-operations.md
  handsontable/src/dataMap/metaManager/metaSchema.js
Labels: Docs: Content, Accessibility
