Repository handsontable/handsontable, pull requests merged in 2024-08, with the labels that each got.

#11134 fix: remove outdated URLs from the documentation - 8.x
  docs/content/guides/formulas/formula-calculation/formula-calculation.md
  handsontable/src/dataMap/metaManager/metaSchema.js
  handsontable/src/plugins/autoRowSize/autoRowSize.js
Labels: Docs: Content

#11091 Improve accessibility for menu options containing a checkbox
  .changelogs/11091.json
  handsontable/src/helpers/a11y.js
  handsontable/src/plugins/contextMenu/__tests__/a11y/attributes.spec.js
  handsontable/src/plugins/contextMenu/menu/menuItemRenderer.js
  handsontable/src/plugins/contextMenu/menu/utils.js
  handsontable/src/plugins/contextMenu/predefinedItems/alignment.js
  handsontable/src/plugins/contextMenu/predefinedItems/readOnly.js
  handsontable/src/plugins/contextMenu/utils.js
  handsontable/src/plugins/dropdownMenu/__tests__/a11y/attributes.spec.js
Labels: bug, Cell type: Autocomplete / Dropdown / Handsontable, Context menu, Accessibility

#11170 Extend the `beforeFilter` hook with a second argument to allow correct Undo/Redo functionality.
  .changelogs/11170.json
  handsontable/src/__tests__/core/settings.types.ts
  handsontable/src/pluginHooks.js
  handsontable/src/plugins/filters/__tests__/conditionCollection.unit.js
  handsontable/src/plugins/filters/__tests__/filters.spec.js
  handsontable/src/plugins/filters/conditionCollection.js
  handsontable/src/plugins/filters/filters.js
  handsontable/src/plugins/undoRedo/undoRedo.js
  handsontable/types/pluginHooks.d.ts
Labels: Type: Feature
