Repository handsontable/handsontable, pull requests merged in 2024-11, with the labels that each got.

#11247 fix: add missing common lib export from package.json
  .changelogs/11247.json
  handsontable/package.json
Labels: Status: Developed (ready for review), CLA signed

#10950 Remove `pikaday` and update `numbro` from prod dependencies
  .changelogs/10929.json
  docs/.vuepress/handsontable-manager/dependencies.js
  handsontable/.config/development.js
  handsontable/package.json
  handsontable/src/__tests__/core/settings.types.ts
  package-lock.json
Labels: Breaking change, Status: On hold

#11174 Deploying the latest documentation to Netlify
  .github/workflows/docs-production-netlify-cli.yml
  .github/workflows/docs-production.yml
  .github/workflows/docs-staging.yml
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/helpers.js
  docs/.vuepress/public/img/handsontable-docs-cover.png
  docs/.vuepress/theme/components/FrameworksDropdown.vue
  docs/README-DEPLOYMENT.md
  docs/README-EDITING.md
  docs/README.md
  docs/netlify.toml
  docs/netlify/edge-functions/router.ts
  docs/netlify/tools/convert.js
  docs/netlify/tools/ovhSemverRedirects.conf
  docs/netlify/tools/redirects.json
  docs/package-lock.json
  docs/package.json
Labels: Docs: Tools

#11275 Update the HyperFormula compatibility table in the docs.
  docs/content/guides/formulas/formula-calculation/formula-calculation.md
Labels: Docs: Content
