Repository handsontable/handsontable, pull requests merged in 2025-02, with the labels that each got.

#11388 Added Farsi i18n translations
  .changelogs/11388.json
  handsontable/src/i18n/__tests__/i18n.types.ts
  handsontable/src/i18n/__tests__/moduleInterface.unit.js
  handsontable/src/i18n/languages/fa-IR.js
  handsontable/src/i18n/languages/index.js
  handsontable/types/i18n/languages/fa-IR.d.ts
  handsontable/types/i18n/languages/index.d.ts
Labels: Status: Reviewed (ready for merge), Translation, CLA signed

#11462 Dev watch script for better Developer Experience
  docs/.vuepress/config.js
  docs/.vuepress/plugins/include-code-snippet/index.js
  docs/.vuepress/tools/watch.mjs
  docs/README.md
  docs/package-lock.json
  docs/package.json
Labels: enhancement, Docs: Tools

#11470 Update theme variables and add input radio variables
  .changelogs/11470.json
  handsontable/src/styles/base/_base.scss
  handsontable/src/styles/components/form-elements/_radio.scss
  handsontable/src/styles/components/renderers/_checkbox-renderer.scss
  handsontable/src/styles/themes/horizon.scss
  handsontable/src/styles/themes/main.scss
Labels: Breaking change
